*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  margin: auto;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.result__video-container {
  position: relative;
  inset: 0;
  width: 710px;
  height: 385px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  padding-bottom: 2px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}

.search-form__fieldset:nth-child(odd) {
  gap: 6px;
}

.search-form__fieldset ~ .search-form__fieldset {
  gap: 4px;
}

.search-form__fieldset-title ~ .search-form__label {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
  clip: rect(
    0 0 0 0
  ); /* это свойство обрезает видимую область до нулевого значения */
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
  background-color: transparent;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::after {
  content: "";
  display: flex;
  width: 13px;
  height: 13px;
  margin: auto;
  margin-top: 2px;
  background-color: #fff;
}

.button {
  max-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end;
  padding: 6px 73px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 533px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  inset: 0;
  display: flex;
  flex-direction: column;
  min-width: 399px;
  overflow: overlay;
}

.content__list-item:not(:last-child) {
  min-width: 399px;
  margin-bottom: 33px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 195px;
  height: 100px;
  object-fit: cover;
  object-position: bottom right;
}

.content__video-card-title {
  margin-bottom: 5px;
  overflow: hidden;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: normal;
}

.content__video-card-description {
  overflow: hidden;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
  text-overflow: ellipsis;
  white-space: normal;
}

.content__card-link {
  display: block;
  border: 1px solid transparent;
  padding: 1px;
  text-decoration: none;
}

.more-button {
  width: 100%;
  padding: 5px 0;
}

.search-form__label:has(:focus-visible) {
  /* Изминение search-form при TAB */
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(:active) {
  border-color: transparent;
}

.content__list-item:hover,
.search-form__label-text:hover {
  text-decoration: underline 1px solid #fff;
}

.content__list-item:active {
  outline: none;
  text-decoration: none;
  background-color: #545050;
}

.content__list::-webkit-scrollbar {
  /* изменения фона scrollbar */
  width: 6px;
  border-radius: 30px;
  background-color: #000;
}

.content__list::-webkit-scrollbar-thumb {
  /* изменения scrollbar */
  border-radius: 30px;
  background-color: #fff;
}

.search-form__textfield:focus-visible {
  outline: -webkit-focus-ring-color auto 0; /* Отключение браузрной обводк search-form  */
}

.search-form__label-text:active {
  text-decoration: none;
}

/*псевдо классы для кнопок*/
.button:hover {
  text-decoration: underline 1px solid #fff;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus-visible {
  /* Состояние focus для кнопок*/
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:focus-visible {
  display: block;
  border: 1px solid #fff;
  outline: none;
  appearance: none;
}

/* ТЕсты*/

.search-form__checkbox-list
  > .search-form__label:hover:has(.search-form__label-text) {
  text-decoration: underline 1px solid #fff;
}

.search-form__checkbox-list
  > .search-form__label:active:has(.search-form__label-text) {
  text-decoration: none;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
  overflow: hidden;
}